.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  border-bottom: 1px black solid;
  margin: 0;
  width: 100%;
}

.gameTitle{
  font-family: 'Press Start 2P', cursive;
  margin: 0;
}

@media (min-width: 1025px) {
  .mainContainer {
    font-family: 'Krub', sans-serif;
    display: grid;
    padding: 0 10px 35px;
    grid-template-columns: 1fr 525px  1fr;
    grid-template-rows: 2, auto;
    column-gap: 80px;
    justify-items: center;
    justify-content: center;   
  }

  .ctr-display {
    border: 1px black solid;
    border-radius: 5px;
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px 50px 10px;
    justify-self: stretch;
  }

  .left-display {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 20px;
    justify-self: end;
  }

  .right-display {
    grid-column: 3/4;
    grid-row: 1/3;
    padding-top: 0px;
    justify-self: start;
  }

  .notifFlex{
    height: 60px;
  }

  .letterInputFlex{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  
  .letterInputSpan{
    width: 25px;
  }

  .letterInput{
    width: 22px;
    text-align: center;
  }

  .letterInputFields{
    margin: 30px 0;
  }

  .rankDisplay{
    margin-bottom: 20px;
  }

  .userStats{
    display: flex;
    justify-content: center;
  }

  .logoutWeb{
    margin: 20px;
  }

  .logoutMobile{
    display: none;
  }
}

@media (min-width: 376px) and (max-width: 1024px){
  .mainContainer {
    font-family: 'Krub', sans-serif;
    display: grid;
    padding: 0 10px 35px;
    margin: auto;
    width: 525px;
    grid-template-columns: 1;
    grid-template-rows: 3;
    
  }

  .ctr-display {
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px 0;
    grid-column: 1;
    grid-row: 2/3;
  }
  
  .left-display {
    grid-column: 1;
    grid-row: 1/2;
  }
  
  .right-display {
    grid-column: 1;
    grid-row: 3/4;
    padding-top: 0px;
  }

  .notifFlex{
    height: 40px;
  }

  .letterInputFlex{
    display: flex;
    justify-content: center;
  }

  .letterInputSpan{
    width: 25px;
  }

  .letterInput{
    width: 22px;
    text-align: center;
  }

  .letterInputFields{
    margin-bottom: 20px;
  }

  .userCard{
    margin-bottom: 20px;
  }

  .rankDisplay{
    margin-bottom: 0;
  }

  .userStats{
    margin: 0 auto 10px;
    justify-self: center;
  }

  .leaderContainer{
    margin-top: 20px;
  }

  .logoutWeb{
    display: none;
  }

  .logoutMobile{
    margin: 20px;
  }
}

@media (max-width: 414px){
  .mainContainer {
    font-family: 'Krub', sans-serif;
    display: grid;
    padding: 0 10px 35px;
    margin: auto;
    width: 370px;
    grid-template-columns: 1;
    grid-template-rows: 3;
    
  }

  .ctr-display {
    border: 1px black solid;
    border-radius: 5px;
    padding: 20px 0;
    grid-column: 1;
    grid-row: 2/3;
  }
  
  .left-display {
    grid-column: 1;
    grid-row: 1/2;
  }
  
  .right-display {
    grid-column: 1;
    grid-row: 3/4;
    padding-top: 0px;
  }

  .notifFlex{
    height: 40px;
  }

  .letterInputFlex{
    display: flex;
    justify-content: center;
  }

  .letterInputSpan{
    width: 25px;
  }

  .letterInput{
    width: 20px;
    text-align: center;
  }

  .letterInputFields{
    margin-bottom: 20px;
  }

  .userCard{
    margin-bottom: 20px;
  }

  .rankDisplay{
    margin-bottom: 0;
  }

  .userStats{
    margin: 0 auto 10px;
    justify-self: center;
  }

  .leaderContainer{
    margin-top: 20px;
  }

  .logoutWeb{
    display: none;
  }

  .logoutMobile{
    margin: 20px;
  }
}

.loginContainer {
  display: grid;
  padding: 0 10px 35px;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 4, auto;
  justify-items: center;
  justify-content: center;  
}

.loginDisplay {
  border: 1px black solid;
  border-radius: 5px;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 25px 50px 10px;
}

.loginField{
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.toggleLoginSignUp{
  padding-top: 25px;
}

.timer {
  text-align: center;
}

.leaderboard{
  display: flex;
  justify-content: center;
}

.greenNotif {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin:0 50px;
}

.redNotif {
  display: float;
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin:0 50px;
}

.footer{
  position: fixed;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding-bottom: 10px;
  background-color:white;
}