.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mainContainer {
  display: grid;
  border-top: 1px black solid;
  padding: 20px 10px;
  grid-template-columns: 1fr 500px  1fr;
  grid-template-rows: 2, auto;
  column-gap: 60px;
  justify-items: center;
  justify-content: center;   
  font-family: 'Krub', sans-serif;
}

.ctr-display {
  border: 1px black solid;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 20px 50px;
}

.left-display {
  grid-column: 1/2;
  grid-row: 1/2;
  padding-top: 30px;
  justify-self: end;
}

.right-display {
  grid-column: 3/4;
  grid-row: 1/2;
  padding-top: 30px;
  justify-self: start;
}

.loginContainer {
  display: grid;
  border-top: 1px black solid;
  padding: 50px 10px;
  grid-template-columns: 1fr 600px 1fr;
  grid-template-rows: 2, auto;
  justify-items: center;
  justify-content: center;  
}

.loginDisplay {
  border: 1px black solid;
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 25px 50px;
}

.loginField{
  display:flex;
  justify-content: space-between;
}

.timer {
  text-align: center;
}

.letter{
  display: flex;
  justify-content: space-between;
}

.gameTitle{
  font-family: 'Press Start 2P', cursive;
  padding-top: 20px;
}

.userStats{
  display: flex;
  justify-content: center;
}

.leaderboard{
  display: flex;
  justify-content: center;
}